/* Network diagram styles */

#network{
    padding-top:10px
}

.link {
    stroke: #999;
    stroke-opacity: 0.7;
    stroke-width: 0.1;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
    cursor: pointer;
}

/* Treemap template boxes */
rect.cell {
    fill: none;
    stroke: #3b353b;
    stroke-width: 1px;
}

/* Force template circles */
circle {
    fill: none;
    stroke: #484548;
    stroke-width: 1px;
}

 /*Checkboxes size */
/*input[type=checkbox]*/
/*{*/
/*    !* Triple-sized Checkboxes *!*/
/*    -ms-transform: scale(1.5); !* IE *!*/
/*    -moz-transform: scale(1.5); !* FF *!*/
/*    -webkit-transform: scale(1.5); !* Safari and Chrome *!*/
/*    -o-transform: scale(1.5); !* Opera *!*/
/*    padding: 5px;*/
/*}*/

/*Checkboxes text */
.checkboxtext
{
    /* Checkbox text */
    font-family: sans-serif;
    font-size: 110%;
    display: inline;
}

/* Drop down checklist */
.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.dropdown-check-list.visible .items {
    display: block;
}
